6_Adding telegram.json
{
  "name": "6_Adding telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        0
      ],
      "id": "ff5c4324-25de-4a21-a3aa-8efd1a014d5a",
      "name": "Telegram Trigger",
      "webhookId": "e0f2cdc1-4b35-4741-9e67-dc344ac533d5",
      "credentials": {
        "telegramApi": {
          "id": "NFd6W12JORqyzpvg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        0
      ],
      "id": "8d12c39c-2ad5-459a-8f2e-7c9088ed4948",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        0
      ],
      "id": "c9fdb7ca-aa8a-4e18-b329-2b2a58b76c70",
      "name": "Send a text message",
      "webhookId": "f2a6e671-0f1b-4195-8da0-884d4dd72645",
      "credentials": {
        "telegramApi": {
          "id": "NFd6W12JORqyzpvg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        208
      ],
      "id": "326f9104-4997-4751-b099-789f7e467627",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qfn2rE1Tja9O5jHU",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3e08c113-2e1e-40b1-b874-0c489352abaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2212aa35fd8089794634e1c875cf75025528b231c96420de4be41577f87ff8ac"
  },
  "id": "PHexVmg2QBmxIZ9_SniVw",
  "tags": []
}