HR_Bot.json
{
  "name": "HR_Bot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi I'm an HR assistant. How can I help you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        -32
      ],
      "id": "c519b36d-9b39-4d58-b87b-df45d666ebca",
      "name": "When chat message received",
      "webhookId": "23d18f1f-0cd3-413f-80a4-efcef13b126c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Role\nAct like a HR assistant BOT who reply to employee queries regarding to the policies.\n\n#What to do\nAs soon as you receive query use the HR_Knowledge_store tool to fetch the relevant information and give the output according to it to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -128,
        -32
      ],
      "id": "91e8dc46-36e9-49e3-bd92-bf3e181fd1e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        176
      ],
      "id": "5e380bd6-ea18-4b4e-ad7e-679d82323c55",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        176
      ],
      "id": "5d7f145f-eeaa-4184-8bff-fac8995f2db5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Fetches the information and provide to the agent which is similar to the query/prompt provided by the user.",
        "pineconeIndex": {
          "__rl": true,
          "value": "hrbot",
          "mode": "list",
          "cachedResultName": "hrbot"
        },
        "options": {
          "pineconeNamespace": "HrDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        176
      ],
      "id": "f0a5cff0-ffac-4946-8067-d129c09f264c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JZXkpHbrwHd9ycDP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZBEgnl63gXgSjq5Y2MP-NhOibWVQKu9J",
          "mode": "list",
          "cachedResultName": "HRbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZBEgnl63gXgSjq5Y2MP-NhOibWVQKu9J"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        464,
        -16
      ],
      "id": "281165a7-3961-4f06-93f5-432abea99000",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LGmS4TE3LCXlinH6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        -16
      ],
      "id": "0f19e8e2-4d96-4905-b037-2caf1c70a7d1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LGmS4TE3LCXlinH6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        224
      ],
      "id": "adcdacbb-3b84-4575-ac0b-555b8010076b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1056,
        400
      ],
      "id": "48e30e80-7ed7-45b1-a599-3f7681476b77",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        208
      ],
      "id": "c9df785f-6788-48cd-81cd-695e8dac67b5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hrbot",
          "mode": "list",
          "cachedResultName": "hrbot"
        },
        "options": {
          "pineconeNamespace": "HrDocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        880,
        -16
      ],
      "id": "42d4ab16-0a57-4204-acb5-20f5e9e05de1",
      "name": "HR_Knowledge_store",
      "credentials": {
        "pineconeApi": {
          "id": "JZXkpHbrwHd9ycDP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        384
      ],
      "id": "989c9ce7-8d74-4f4f-800b-6dcb59367a43",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HR_Knowledge_store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "HR_Knowledge_store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "HR_Knowledge_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3e3caf1f-4c4c-4711-9ae2-ad99dfa1ba98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b709ecef9751e58241ac015ce79c99e23722f41894bbf9141ed174f85153871"
  },
  "id": "TbMprN5Iv2Bhp5Kq7KPO3",
  "tags": []
}