Linkedin Content Tracker.json
{
  "name": "Linkedin Content Tracker",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -80
      ],
      "id": "3d8d95cd-3365-4317-8588-174f9ace674a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mgpv7CAt_XIdzEumeETMzn3XZJnySb6GAyJ_2z_6Ndk",
          "mode": "list",
          "cachedResultName": "n8n user database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mgpv7CAt_XIdzEumeETMzn3XZJnySb6GAyJ_2z_6Ndk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1917854324,
          "mode": "list",
          "cachedResultName": "Linkedin content tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mgpv7CAt_XIdzEumeETMzn3XZJnySb6GAyJ_2z_6Ndk/edit#gid=1917854324"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        -80
      ],
      "id": "03d3c690-eb3f-4f74-96d1-ec4508ba32a0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pR6jNbEPzRz9Ao64",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"What are the latest update on {{ $json['Rough Topic Name'] }}\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"topic\": \"general\",\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"auto_parameters\": false,\n  \"include_usage\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -80
      ],
      "id": "cc251a58-77ff-4bc6-9f87-5c32f180cc79",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic for Linkedin post: {{ $('Get row(s) in sheet').item.json['Rough Topic Name'] }}\n\nReference titles and articles\n\nTitle 1: {{ $json.results[0].title }}\nArticle 1: {{ $json.results[0].content }}\nURL 1: {{ $json.results[0].url }}\n\nTitle 2: {{ $json.results[1].title }}\nArticle 2: {{ $json.results[1].content }}\nURL 2: {{ $json.results[1].url }}\n\nTitle 3: {{ $json.results[2].title }}\nArticle 3: {{ $json.results[2].content }}\nURL 3: {{ $json.results[2].url }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=#Role\nAct like a Linkedin expert who specializes in generating Linkedin friendly post. Your content is engaging for the audience and has a tendency to go viral.\n\n#To Do\n- You'll get 3 references which will include title of the articles, parsed content which is relevent to the topic of post, URL from which content is parsed.\n- Using all the information you have generated a linkedin friendly post which will get us engagement so that you can have an active profile.\n\n#Output\n- Return the title and the content of the article in JSON formate as\nTitle:\nContent:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -80
      ],
      "id": "a5ffcc6e-c63a-4e7c-a397-e04e92ae34f8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        128
      ],
      "id": "126ec9ee-cce3-4e04-a3c0-200da52c1cf6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mgpv7CAt_XIdzEumeETMzn3XZJnySb6GAyJ_2z_6Ndk",
          "mode": "list",
          "cachedResultName": "n8n user database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mgpv7CAt_XIdzEumeETMzn3XZJnySb6GAyJ_2z_6Ndk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1917854324,
          "mode": "list",
          "cachedResultName": "Linkedin content tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mgpv7CAt_XIdzEumeETMzn3XZJnySb6GAyJ_2z_6Ndk/edit#gid=1917854324"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rough Topic Name": "={{ $('Get row(s) in sheet').item.json['Rough Topic Name'] }}",
            "Status": "Done",
            "Topic Name (For Linkedin)": "={{ $json.output.Title }}",
            "Article Content": "={{ $json.output.Content }}"
          },
          "matchingColumns": [
            "Rough Topic Name"
          ],
          "schema": [
            {
              "id": "Rough Topic Name",
              "displayName": "Rough Topic Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Name (For Linkedin)",
              "displayName": "Topic Name (For Linkedin)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Content",
              "displayName": "Article Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -80
      ],
      "id": "a74d61d7-4bd6-445a-b569-cf324ded0b8a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pR6jNbEPzRz9Ao64",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling headline or title for the content\"\n    },\n    \"Content\": {\n      \"type\": \"string\",\n      \"description\": \"Main body text, may include paragraphs, bullet points, and line breaks\"\n    }\n  },\n  \"required\": [\"Title\", \"Content\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        128
      ],
      "id": "b81d7285-9a59-456b-8562-d6198b09ed48",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ca37941d-7c44-4ae7-94b7-20f15d46c7cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b709ecef9751e58241ac015ce79c99e23722f41894bbf9141ed174f85153871"
  },
  "id": "f7POcTGEvxAdPolbqn1B6",
  "tags": []
}