Policy Assistant.json
{
  "name": "Policy Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xAYaD8KA7x05QQ6brh_SiipAqE-rZp0Q",
          "mode": "list",
          "cachedResultName": "n8n demo folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xAYaD8KA7x05QQ6brh_SiipAqE-rZp0Q"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        0
      ],
      "id": "1178a9b8-25fe-4556-9bda-62db1c14a394",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LGmS4TE3LCXlinH6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        0
      ],
      "id": "aa4f3e73-3e0e-4352-8530-063029fa9a8b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LGmS4TE3LCXlinH6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -160,
        0
      ],
      "id": "4f8f75a5-752e-4a37-a279-ffda856d1c94",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JZXkpHbrwHd9ycDP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -32,
        208
      ],
      "id": "939d4d1c-8eba-4e12-9928-1147ea5de967",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        64,
        416
      ],
      "id": "7a1aa00c-2141-4fe1-b570-ca13f6102b1c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        224
      ],
      "id": "be42a19b-4870-4e27-a88e-8b2b577a3d21",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi I'm a HR assistant. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        384,
        16
      ],
      "id": "48fb76f6-528b-4e60-88a1-021d47a634f6",
      "name": "When chat message received",
      "webhookId": "75cf68f7-808a-449d-bd1a-996fb6bfd65c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant which use the pinecone vector store1 tool to fetch relevant information and give output according to the need of user requirement."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        16
      ],
      "id": "94eba2d7-89ce-49e1-9315-f7838c8889fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        240
      ],
      "id": "32306631-76f4-4c8e-9401-8e380b615f85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        240
      ],
      "id": "63024d96-da0e-45aa-9d7c-3c5ed6692d8e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this database to fetch relevant information regarding the user prompt.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        240
      ],
      "id": "8f7e4955-1029-4814-8bf2-fadd76835b93",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "JZXkpHbrwHd9ycDP",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        432
      ],
      "id": "4d88f3a7-deb2-49e4-9c59-ba619345eefe",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "nwbDruPv1si1Jkdv",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4f1c03e2-f99f-46db-a562-93dde16bf535",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b709ecef9751e58241ac015ce79c99e23722f41894bbf9141ed174f85153871"
  },
  "id": "aNsnraKAW9Wc72bOdoV8P",
  "tags": []
}